body,html{
	background: black;
	
}
#container{
	color: white; 
	display: flex;
	flex-direction: column;
	width: 99.9%;
	height: 100%;
	text-align: center;
	font-size: 32px;
}
h1{
	text-align: center;
}
main{
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 1% -0.5%;
	height: 100%;
}
main section article:before{
	content: 'article';
}
main section *{
	background: #999999;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main section:before{
	content: 'section';
}
nav{
	background: gray; 
	margin: 0.5%;
	
	width: 30%;
}
nav:after{
	content: 'nav';
}
section{
	margin: 0.5%;	
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: gray;
}
aside{
	margin: 0.5%;
	height: 100%;
	width: 30%;
	background: gray; 
}
aside:after{
	content: 'aside';
}
header{
	background: gray;
}
header:after{
	content: 'header'
}
footer{
	background: gray;
}
footer:after{
	content: "footer";
}