:root{
	--main-color: #D5D5D5;
}
#all{
	border: 3px black solid;
	margin: 0 auto;
	max-width: 1360px;
	max-height: 1600px;
	background-color: #93CEED;
	border-radius: 13px;
	margin-top: 14px;
}
.hid{
	display: none;
}
#content{
	display: flex;
	flex-wrap: wrap;
}
#title{
	text-align: center;
	padding: 6px;
}
.textarea{
	display: flex; 
	flex-direction: column;
	padding: 20px;
}
.textarea textarea{
	padding: 11px;
	border-radius: 11px;
	background-color: var(--main-color);
}
.data{
	display: flex; 
	flex-direction: column;
	padding: 20px;
	justify-content: space-around;
}
#btns{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
#content{
	display: flex;
	justify-content: space-around;
}
.input{
	max-width: 350px;
	height: 40px;
	padding-left: 11px;
    border-radius: 11px;
    background-color: var(--main-color);
}
#descr{
	padding-top: 15px; 
	text-align: center;
    border-top: 2px black solid;
    padding-left: 10px;
}
#create{
	padding-left: 10px;
	margin-top: -4.5px;
}
.button{
	max-height: 60px;
	margin: 1%;
}
