.base{
	border: 4px solid black;
	position: relative;
	height: 1050px;
	width: 1600px;
	margin-left: 250px;
	margin-top: 20px;
	border-radius: 26px;
	background-color: #15D560;
	margin: 0 auto;
	margin-top: 15px;
}
.text-base{
	font-size: 60px;
	color: #D47272;
	margin-left: 650px;
	font-weight: bold;
	width: 90px;
}
.text-base:hover{
	color: #4DABD9;
}
.block{
	border-style: solid;
	border-color: #79C2EB;
	background: #FDC073;
	width: 200px;
	height: 200px;
	margin-left: 100px;
	margin-top: 10px;
}
.block:hover{
	box-shadow: 0 0 10px black;
	border: 2px solid black; 
}
.name{
	width: 70px;
	height: 50px;
    text-align: center;
    margin-left: 59px;
	font-family: roboto;
	letter-spacing: 1px;
	font-weight: 600;
	color: #2CA4AA;
}
.descr{
	margin-left: 8px;
}
.buy{
	color: red;
	font-weight: 300;
	margin-left: 13px;
	margin-top: 61px;
}
.input{
	margin-top: 11px;
	margin-left: 18px;
	width: 220px;
	height: 40px;
	padding-left: 8px;

}
#str{
	padding: 11px;
	margin-top: 12px;
	margin-left: 21px;
	height: 50px;
	width: 220px;
}
#btn2{
	width: 140px;
	height: 50px;
	border: 2px solid black; 
}
#out{
	margin-left: 21px;
	border: 1px solid #244A57;
	width: 365px;
	height: 70px;
	padding-left: 8px;
	padding-top: 3px;
	margin-top: 13px;  
}