.data{
	display: flex;
	flex-direction: column;
	padding: 40px;
}
#all{
	border: 3px black solid;
	margin: 0 auto;
	max-width: 1960px;
	max-height: 1900px;
	min-width: 1300px;
	min-height: 1000px;
	background-color: #93CEED;
	border-radius: 13px;
	margin-top: 14px;
}
.data textarea{
	width: 450px;
	min-height: 500px;
	background-color: #C4C5C3;
}
.data input{
	padding-left: 18px;
	width: 430px;
	height: 55px;
	border-radius: 29px;
}
.b{
	width: 190px;
	height: 70px;
}
#log{
	width: 500px;
	height: 360px;
	background-color: white;
	padding: 20px;
}