@media (min-width: 1200px) {
	body{ zoom: 150% };
}
#vk_auth{
	margin: 5% auto;
}
body{
  background-image: url('https://vk.vkfaces.com/856136/v856136238/141aaf/PW4RR9ODaFw.jpg');
  background-size: 100%;
}
#all{
	margin: 0 auto;
	max-width: 1000px;
	max-height: 1600px;
	margin-top: 14px;
}
#rate{
	max-width: 200px;
	height: 37px;
	margin-bottom: 20px;
}
#access_token{
	width: 250px;
	height: 37px;
	margin-bottom: 20px;
}
#log{
	width: 250px;
	height: 100px;
	max-height: 300px;
}
#start{
	width: 180px;
	margin-bottom: 20px;
}
.hid{
	display: none;
}
