#create{
	margin-bottom: 5px;
	background: url(media/plus.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: 35px;
	width: 35px;
}
#inf{
	width: 40px;
	transform: scale(3,3);
}